<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csgoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSGOApp">
        <activity
            android:name=".CSGOMaps"
            android:exported="false" />
        <activity
            android:name=".addcontentlayout"
            android:exported="false" />
        <activity
            android:name=".CSGOContentDisplay"
            android:exported="false" />
        <activity
            android:name=".CSGOChoose"
            android:exported="false" />
        <activity
            android:name=".CSGOReset"
            android:exported="false" />
        <activity
            android:name=".CSGOWelcome"
            android:exported="false" />
        <activity
            android:name=".Spinner"
            android:exported="false" />
        <activity
            android:name=".CSGOSign"
            android:exported="false" />
        <activity
            android:name=".CSGOLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>